/* Card */
.academy-product-box {
  .card {
    &.product-box {
      border: 3px solid $academy-black-friday-background-color;

      .product-price {
        color: $academy-black-friday-text-color;
        margin-top: 5px;
        padding-left: 10px;
      }

      .btn-buy {
        background-color: $academy-black-friday-background-color;
        color: $academy-black-friday-text-color-inverse;
      }

      .badge-discount {
        background-color: $academy-black-friday-background-color;
        color: $academy-black-friday-text-color-inverse;
      }

      .academy-black-friday-price-wrapper {
        .badge-discount {
          background-color: $academy-black-friday-background-color;
          color: $academy-black-friday-text-color-inverse;
        }

        .product-price {
          padding-left: 0;
          margin-top: 0;
        }
      }
    }
  }
}

/* PDP */
.academy-product-detail-buy {
  .product-detail-price {
    &.with-list-price {
      color: $academy-black-friday-text-color;
    }
  }

  .list-price-percentage {
    background-color: $academy-black-friday-background-color;
    color: $academy-black-friday-text-color-inverse;
    border-radius: 7px;
    padding: 1px 5px;
  }

  .btn-buy {
    background-color: $academy-black-friday-background-color;
    color: $academy-black-friday-text-color-inverse;
  }
}
